[buildout]
# sources = sources
# extends = ./buildout.cfg
parts =
    hostout-cloud-patches
    amazon-instance

[hostout-cloud-patches]
recipe = collective.recipe.patch
egg = hostout.cloud == 1.0a5
patches = patches/hostout-cloud.patch

[amazon-instance]
recipe = collective.hostout == 1.0a5
extends = hostout.cloud hostout.ubuntu
# hosttype = ec2
hosttype = EC2_US_EAST
#hostsize = m1.large
hostsize = 8192
# hostsize_name = m1.large
# hostos = Ubuntu
# imageid = ami-0b6f3c4e
key = XXXXXXXXXXXXXXXXXXX
secret = XXXXXXXXXXXXXXXXXXX
key_filename = ../kevtest-openerp.pem
# secure = True
user = ubuntu
effective-user = ubuntu
buildout-user = ubuntu
buildout = profiles/openerp-6.0.cfg

# t1.micro
# m1.small
# m1.large
# m1.xlarge


[sources]
apache-libcloud = git git://github.com/apache/libcloud.git
#hostout.supervisor = git git@github.com:collective/hostout.supervisor.git
hostout.ubuntu  = git git@github.com:collective/hostout.ubuntu.git
hostout.cloud = git git@github.com:collective/hostout.cloud.git
fabric = git://fabfile.org/fabric.git
