[buildout]
# sources = sources
# extends = ./buildout.cfg
parts =
    hostout-cloud-patches
    amazon-instance


[hostout-cloud-patches]
recipe = collective.recipe.patch
egg = hostout.cloud == 1.0a5
patches = patches/hostout-cloud.patch


[amazon-instance]
recipe = collective.hostout == 1.0a5
extends = hostout.cloud hostout.ubuntu
hosttype = EC2
# hostsize = 1024
hostsize_name = t1.micro
imageid = ami-1aad5273  # Manifest: 099720109477/ebs/ubuntu-images/ubuntu-natty-11.04-amd64-server-20110426
key = XXXXXXXXXXXXXXXXXXX
secret = XXXXXXXXXXXXXXXXXXX
key_filename = ../kevtest-openerp.pem
# secure = True
user = ubuntu
effective-user = ubuntu
buildout-user = ubuntu
buildout = profiles/openerp-6.0.cfg


[sources]
apache-libcloud = git git://github.com/apache/libcloud.git
#hostout.supervisor = git git@github.com:collective/hostout.supervisor.git
hostout.ubuntu  = git git@github.com:collective/hostout.ubuntu.git
hostout.cloud = git git@github.com:collective/hostout.cloud.git
fabric = git://fabfile.org/fabric.git
