[buildout]
parts +=
    aeroo-ooffice-script


[system-deps]
# Verify that either OpenOffice or LibreOffice was installed by the user
bin +=
    soffice:Open/Libre-Office


[openerp]
urls +=
    lp:aeroolib                    aeroolib
    lp:aeroo/openerp6              aeroo
server_addons +=
    aeroo/*


[openerp-server]
eggs +=
    relatorio
#    pycairo # Pycairo refuse to be built from PyPi, install the python-cairo-dev package instead
    pycha
extra-paths +=
    ${openerp:location}/aeroolib/aeroolib


[aeroo-ooffice-script]
# Generate a shell script to help aeroo run OpenOffice.org
recipe = collective.recipe.template
input = ${buildout:directory}/templates/office-launcher.sh.in
output = ${openerp:location}/server/bin/launcher.sh
mode = 755

