[buildout]
extends = base.cfg


[postgresql-install]
cmds +=
    # Create a new openerp PostgreSQL user and prompt for a password
    sudo -u postgres psql --tuples-only --no-align --command "SELECT usename FROM pg_user;" | grep --quiet 'openuser' && echo 'PostgreSQL "openuser" user already exist. No need to create it.' || sudo su postgres -c "createuser --createdb --no-createrole --pwprompt openuser"
